<% Category.all.each do |cat| %>
  <h2><%= cat.name %></h2>

  <table id="<%= cat.technical_name %>">
    <tbody>
      <% Inventory.where(:category_id => cat.id).each do |i| %>
        <tr>
          <td class="span15">
            <%= i.data %>
          </td>
          <td class="span1">
            <%= button_to 'Delete', inventory_path(i), :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
