body {
  padding-top: 50px;
}

.button_to {
  margin-bottom: 0px;
}

table#delivered {
  background-color: #CDEACD;
}

table#backlog {
  background-color: #DDF4FB;
}

table#current_sprint {
  background-color: #FDF5D9;
}

table#next_sprint {
  background-color: #eee;
}
