body {
  padding-top: 50px;
}

textarea {
  height: auto;
  width: auto;
}

.button_to {
  margin-bottom: 0px;
}

.task {
  cursor: move;
}

.task a,
.task input {
  display: none;
}

.task:hover a,
.task:hover input,
.task:hover form {
  display: inline-block;
}

.task:hover {
  background-color: #eee;
}

ol.tasks {
  min-height: 28px;
  margin-left: 0;
  list-style: none;
}

ol.tasks li:first-child {
  border-top: 1px solid #ddd;
}

ol.tasks li {
  border-bottom: 1px solid #ddd;
}

ol.tasks li > div {
  padding: 8px 0;
  line-height: 28px;
}

#complete li {
  background-color: #CDEACD;
}

#backlog li {
  background-color: #FDDFDE;
}

#current_sprint li {
  background-color: #FDF5D9;
}

#next_sprint li {
  background-color: #DDF4FB;
}

.ui-sortable-helper:hover a,
.ui-sortable-helper:hover form {
  display: none;
}

span.date {
  margin-right: 5px;
}

ol.readonly li {
  cursor: auto;
}
